In [7]:
'''---------------------------1--------------------------



''the differences between operators and values in the following?


*                  --Multiplies values on either side of the operator
'hello'              STRING
-87.8                float
-                     minus
/                      divide
+                      add
6                     integer
'''



m=6 
print (type(m))
j='hello' 
print (type(j))
i= -87.8
print (type(i))

<class 'int'>
<class 'str'>
<class 'float'>

In [8]:
'''-----------------2---------------------------.

a string is a value representing text

a variable is a name that can refer to any value'''

spam=1
print (type(spam))

<class 'int'>

In [10]:
i='spam'
print (type(i))

<class 'str'>

In [11]:
'''-------------------------3----------------------
Describe three different data forms.

1. Integer 
Positive or negative whole numbers

2. Strings: strings are sequences of character data

3. bool: Data with one of two built-in values True or False

'''

'-------------------------3----------------------\nDescribe three different data forms.\n\n1. Integer \nPositive or negative whole numbers\n\n2. Strings: strings are sequences of character data\n\n3. bool: Data with one of two built-in values True or False\n\n'

In [12]:
'''----------------4--------------------------

What makes up an expression? What are the functions of all expressions?


An expression is an instruction that combines values and operators and always evaluates down to a single value. 
For example, this is an expression:  2 + 2.

A function is a block of organized, reusable code that is used to perform a single, related action.



'''



'''--------------------5---------------------------
the
difference between a declaration and an expression?


Python has no command for declaring a variable. A variable is created the moment you first assign a value to it.

An expression is an instruction that combines values and operators and always evaluates down to a single value. 
For example, this is an expression:  2 + 2.



'''

'--------------------5---------------------------\nthe\ndifference between a declaration and an expression?\n\n\nPython has no command for declaring a variable. A variable is created the moment you first assign a value to it.\n\n\n\n\n'

In [14]:
spam=10
print (type(spam))

<class 'int'>

In [16]:
'''-----------------6-------------------------


bacon=22
bacon+1



value of bacon is 22

'''


bacon=22
bacon+1
print(bacon)

22

In [17]:
'''-------------------------------7--------------------------------

 the values of the following two terms be?

'spam' + 'spamspam'
'spam' * 3

'''

'spam' + 'spamspam'
'spam' * 3



-ans- 'spamspamspam'

'spamspamspam'

In [18]:
'spam' + 'spamspam'

'spamspamspam'

In [19]:
'spam' * 3

'spamspamspam'

In [20]:
'''---------------------8------------------------------


8. Why is it that eggs is a true variable name but 100 is not?


Python lets you create variables simply by assigning a value to the variable like eggs.


100 is not a true variable because its SyntaxError: cannot assign to literal

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-20-eb0fbb4132ff>, line 12)

In [21]:
eggs=100
print(type(eggs))

<class 'int'>

In [22]:
100=eggs
print(type(100))

SyntaxError: cannot assign to literal (<ipython-input-22-b186025fc55a>, line 1)

In [23]:
'''-----------------------9--------------------------------
Which of the following three functions may be used to convert a value to an integer, 
a floating-point number, or a string?

 the valueOf(String) method returns an object of Integer class 



'''

'-----------------------9--------------------------------\nWhich of the following three functions may be used to convert a value to an integer, \na floating-point number, or a string?\n\n the valueOf(String) method returns an object of Integer class \n\n\n\n'

In [24]:
'''-------------------------------10------------------------


 What is the error caused by this expression? What would you do about it?

'I have eaten ' + 99 + ' burritos.'

 TypeError: can only concatenate str (not "int") to str
 
 we can only concanate strings not intgers
 
'''

'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str